DEBUG: False

SLACK_TOKEN: "xoxb-XXXXXXXXXXX-XXXXXXXXXXXXXXXXXXXXXXXX"

ACTIVE_PLUGINS:
 - wallbot.plugin.Wallbot

Wallbot:
  ALLOW_UNTRUSTED: True # Disable once users are added to trust list
  AUDIT_CHANNEL: 'GXXXXXXXX'
  AUDIT_FILE: 'audit.log'
  TRUST_FILE: 'trust.json'
  POST_FILE: 'html/post.json'
